# Folder build / hasil compile
/build
/dist

# Dependency manager
/node_modules
/vendor

# File environment / config sensitif
.env
*.local

# File log
*.log
logs/

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/

# uploads folder keep
uploads/**
!uploads/
!uploads/articles/
!uploads/tickets/
uploads/articles/**
uploads/tickets/**
!uploads/articles/.gitkeep
!uploads/tickets/.gitkeep